[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fru"]
	path = fru
	url = https://gitlab.com/mbq/fru
[submodule "praznik"]
	path = praznik
	url = https://gitlab.com/mbq/praznik
[submodule "toporanga"]
	path = toporanga
	url = https://gitlab.com/mbq/toporanga
[submodule "vistla"]
	path = vistla
	url = https://gitlab.com/mbq/vistla
