[submodule ".registry"]
	path = .registry
	url = https://github.com/mbq/universe
	shallow = true
	branch = HEAD
[submodule "praznik"]
	path = praznik
	url = https://gitlab.com/mbq/praznik
	shallow = true
	registered = true
[submodule "Boruta"]
	path = Boruta
	url = https://gitlab.com/mbq/Boruta
	shallow = true
	registered = true
[submodule "rFerns"]
	path = rFerns
	url = https://gitlab.com/mbq/rFerns
	shallow = true
	registered = true
