[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "praznik"]
	path = praznik
	url = https://gitlab.com/mbq/praznik
[submodule "vistla"]
	path = vistla
	url = https://github.com/cran/vistla
